---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Roberto Londoño"
  description="About Roberto Londoño Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="Sobre mi"
        tagline=""
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.jpg"
          alt="Roberto Londoño at work"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            Soy una persona analítica, proactiva en búsqueda de soluciones, con
            alto nivel de responsabilidad. Experiencia trabajando en equipo en 
            ambientes de alta presión. Formación en desarrollo web, a través de
            tecnologías como Java, Spring boot, Javascript, NodeJs, Angular
            entre otros. Experiencia como programador bajo el marco de
            Desarrollo de Liferay. Conocimientos en Cloud Computing AWS en servicios.
            como lambda, api gateway, cloudwatch, dynamoDB, EC2, S3.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Educación</h2>
        <div class="content">
          <ul>
            <li>
              <p>
                Universidad Nacional de Colombia Programación y desarrollo web,
                Contenidos digitales/multimedia y recursos informáticos 2020 - 2021.
              </p>
            </li>
            <li>
              <p>GO desde cero EDteam Emisión: sept. 2021</p>
            </li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <ul>
            <li>Java</li>
            <li>Go</li>
            <li>Spring Boot</li>
            <li>Docker</li>
            <li>Mysql</li>
            <li>AWS</li>
            <li>Liferay</li>
            <li>Angular</li>
            <li>NodeJs</li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="section-title">Soft Skills</h2>
        <div class="content">
          <ul>
            <li>Resolución de problemas</li>
            <li>Organización</li>
            <li>Comunicación</li>
            <li>Colaboración</li>
            <li>Solución de problemas</li>
            <li>Diseño de solución</li>
            <li>Priorizar</li>
            <li>Gestión de recursos</li>
            <li>Programación</li>
            <li>Analizando</li>
            <li>Explicación</li>
            <li>Interpretación</li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="section-title">Experiencia</h2>
        <div class="content">
          <p>
            <ul>
              <li>
                <p>Back-end developer expert</p>
                <p>Zenta Group</p>
                <p>Full time nov. 2021 - actualidad</p>
                <p>Santiago, Chile</p>
              </li>
              <li>
                <p>Back-end developer</p>
                <p>Stefanini Perú</p>
                <p>Full time oct. 2023 - may. 2024</p>
                <p>Lima, Perú</p>
              </li>
              <li>
                <p>Java developer, Liferay</p>
                <p>Aria PSW</p>
                <p>Full time mar. 2021 - nov. 2021</p>
                <p>Bogotá, Distrito Capital, Colombia</p>
              </li>
            </ul>
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
